@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
.newspaper-container{
width:700px;
border-radius: 10px;
background-color: white;
padding:1em 1em 2em 2em;
box-shadow: 5px 5px #dddd;
margin: 2em 4em 2em 6em;

}
header{
    text-align: center;
}
.date{
    text-align: left;
}

nav ul li{
    display: inline-block;
    color: gray;
    padding:3px
}
body{
    background-color: lightgray;
    font-family: source sans pro;
}
nav > ul{
    list-style: none;
    border-top: solid #eee;
    border-bottom:  solid#eee;

}
main {
word-wrap: break-word;
width: 610px;
text-align: justify;
}
.more-articles{
    align-items: center;
}
.more-articles section{ 
    width: 310px;
    display: inline-block;
    text-align: justify;
    padding: 8px;

}
header{
    font-family: Abril Fatface;
}
h2, h4{
    font-family: Roboto Slab;
}
a:link{
    color: #777;
}
h5{
   color: #dd3232; 
}
a{
    text-decoration: none;
    color: #777;
}
hr{
    border-top: solid #eee;
}
.Bonus section{
    display: inline-block;
    width: 30%;
    text-align: justify;
    padding: 4px;
}
h4{

}
footer ul{
    list-style: none;
    border-top: solid #eee;
    border-bottom: solid #eee;
}
footer ul li{
    display: inline-block;
    padding: 0px 50px;
    color: #777;
}
.sticky{
    position: sticky;
    top: 10px;
    background-color: white;
}
    
